<form class="form-inline" action="/login" method="post">
    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <div class="input-group-text">@</div>
        </div>
        <input autofocus type="text" class="form-control" name="username" placeholder="Username">
    </div>

    <input type="password" name="password" class="form-control mb-2 mr-sm-2" placeholder="Password">

    <button type="submit" class="btn btn-primary mb-2">LOGIN</button>
</form>

<div class="alert alert-dark" role="alert">
    <h4 class="alert-heading">Note</h4>
    <p>Enter your desired username and password. Choose another username, if you cannot log in, as in, the username has already been taken.</p>
    <hr>
    <p class="mb-0">Whatever you do, be sure to remember your username and password.</p>
</div>
